<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/template_style.css}"/>
</head>
<body>


<div th:fragment="historyDrop(history)">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle btn-rounded"
                    type="button" id="dropdown-1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true"> <span class="fas fa-book"></span> History
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" th:each="his:${history}">
                <li th:text="${his}">_history_</li>
            </ul>
        </div>
    </div>

</div>

<div th:fragment="userButton(username)">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle btn-rounded"
                    type="button" id="dropdown-2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true"> <span class="fas fa-user-circle"></span>User
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li th:text="${username}">username</li>
            </ul>
        </div>
    </div>
</div>

<!--<div th:fragment="logoutButton">-->
<!--    <form action="species.detail" method="GET">-->
<!--        <button class="btn btn-primary btn-lg btn-rounded" type="submit" name="logout">Logout</button>-->
<!--&lt;!&ndash;        <input type="submit" name="logout" class="btn btn-primary btn-lg">&ndash;&gt;-->

<!--    </form>-->
<!--</div>-->


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
</body>
</html>