body{
    background-color: white;
}

.jumbotron-login{
    background-color: azure;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 0px;

    /*min-height: 100%;  !* Fallback for browsers do NOT support vh unit *!*/
    /*min-height: 100vh; !* These two lines are counted as one :-)       *!*/

    align-items: center;
}